html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
	font-size: 1rem;
	font-weight: normal;
}

img {
  display: block;
  max-width: 100%;
}

button {
	border: none;
	outline: none;
}