/* Home */

body {
  background: #20252C;
}

h1, a {
  font-family: 'IBM Plex Sans';
  font-size: 2.8rem;
  letter-spacing: .1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #F79315;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.menu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  min-width: 250px;
  height: 250px;
  border: 2px solid #fff;
  padding: 20px;
  transition: .3s;
}

.menu a:first-child {
  margin-right: 100px;
}

.menu a:hover {
  border: 2px solid #F79315;
}

@media only screen and (max-width: 700px) {
  .menu {
    display: flex;
    flex-direction: column;
  }
  
  .menu a {
    max-width: 250px;
    height: 200px;
  }
  
  .menu a:first-child {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .menu img {
    max-width: 120px;
  }
}

/* Stopwatch */

.name-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.name-page img { 
  max-width: 200px;
  margin: 0 auto;
  margin-top: 20px;
}

.time-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.hours, .minutes, .seconds, .colon {
  font-family: 'Myriad Pro';
  font-size: 9rem;
  font-weight: bold;
  letter-spacing: .2rem;
  color: #fff;
  margin: 0 7px;
}

.colon {
  font-size: 4rem;
  color: #F79315;
  align-self: center;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.start, .pause, .reset {
  background-color: transparent;
  cursor: pointer;
  margin: 0 10px;
}

.start:hover, .pause:hover, .reset:hover {
  transform: scale(1.2);
}

.inative .elipse {
  fill: #2D3848;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
    
  .name-page img {
    max-width: 100px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .time-wrapper {
    margin-top: 15vh;
  }
  
  .hours, .minutes, .seconds, .colon {
    font-size: 18vw;
    margin: 0 1vw;
  }
  
  .colon {
    font-size: 8vw;
  }
  
  .button-wrapper {
    margin-top: 15vh; 
  }
  
  .start, .pause, .reset {
    margin: 0 15px;
  }
}

/* Timer */

.time-wrapper input {
  border:none;
  background: transparent;
  box-shadow: none;
  outline: none;
  max-width: 200px;
  border: 2px solid #fff;
  border-radius: 10px;
  font-family: 'Myriad Pro';
  font-size: 9rem;
  font-weight: bold;
  letter-spacing: .2rem;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

@media only screen and (max-width: 768px) {
  .time-wrapper input {
    max-width: 20vw;
    font-size: 15vw;
  }
}